
.footer {
    background-image: url("../assets/GoldenLine.png");

    position: relative;
    padding: 40px 20px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content .contact,
.footer-content .legal {
    max-width: 200px;
}

.footer-content h3 {
    margin-top: 0;
    color: #fff;
}

.footer-content p {
    margin: 5px 0;
    color: #ccc;
}

.footer-content a {
    color: #ccc;
}

.footer-content a:hover {
    text-decoration: underline;
}

.disclaimer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: #777;
}
