/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
    background: linear-gradient(to right,
    rgba(70, 69, 67, 0.5) 0%,
    rgba(196, 196, 196, 0.5) 10%,
    rgba(94, 94, 94, 0.5) 20%,
    rgba(181, 92, 91, 0.5) 30%,
    rgba(181, 92, 91, 0.5) 70%,
    rgba(94, 94, 94, 0.5) 80%,
    rgba(196, 196, 196, 0.5) 90%,
    rgba(70, 69, 67, 0.5)
    );
    height: 6vh;
    z-index: 100;
    font-size: 1.5rem;
    position: relative;

}

.navbar-center{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 10vw;
}

.logo {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    list-style: none;
    display: flex;
    font-family: "Crimson Text", sans-serif;
    margin-left: 3vw;
}

.logo a:hover{
    text-decoration: none;
}

.logo-red {
    color: #DC143C;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 1.5dvw;
}

.nav-links a {
    display: inline-block;
    font-family: "Crimson Text", sans-serif;
    background: rgba(181, 92, 91, 0.75);
    color: #fff;
    padding: 0.75vh 1.25vw;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin: 0.25vw;
    border: 0.1rem solid transparent; 
    transition: all 0.2s ease-in-out;
}

.nav-link-button {
    display: inline-block;
    font-family: "Crimson Text", sans-serif;
    background: rgba(181, 92, 91, 0.75);
    color: #fff;
    padding: 0.75vh 1.25vw;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin: 0.25vw;
    border: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
    text-decoration: none;
    border: 0.1rem solid #ffffff;
    box-shadow: 0 0 0.6rem 0.2rem rgba(255, 255, 255, 0.5);
}

.nav-link-button:hover{
    text-decoration: none;
    border: 0.1rem solid #ffffff;
    box-shadow: 0 0 0.6rem 0.2rem rgba(255, 255, 255, 0.5);
}

.nav-signup-button{
    margin-left: auto;
    font-size: 1.5rem;
    background: rgba(217, 217, 217, 0.25);
    color: #fff;
    padding: 1dvh 1.5dvw;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none
}

.nav-signup-button:hover{
    background: #ababab;
}

.nav-profile-button {
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: none;
    transition: transform 0.2s ease;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.nav-profile-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.infoPart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscription{
    height: 2.5rem;
    width: 8rem;
    border: none;
    background-color: rgba(217, 217, 217, 0.25);
    color: #DC143C;
    font-size: 1.5rem;
}

.subscription:hover{
    cursor: pointer;
    text-decoration: none;
    border: 0.1rem solid #ffffff;
    box-shadow: 0 0 0.6rem 0.2rem rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}