.vip-access-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}

.vip-access-modal {

    background:
            linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4));
    padding: 1.5rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 25rem;
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;
}

.vip-access-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #F0CE77;
    cursor: pointer;
}

.vip-access-button {
    display: block;
    margin: 1.5rem auto 0;
    padding: 0.8rem 1.5rem;
    background: #F0CE77;
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}