.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    user-select: none;
}

.slots {
    width: 70%;
    height: 65vh;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
    margin-top: 1rem;
}

.slot{
    flex: 1;
    height: 65vh;
    border: 0.2rem solid crimson;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: 2rem;
    overflow: hidden;
    position: relative;

    box-shadow: inset 0 0.5rem 1rem 0.15rem #151515,
    inset 0 -0.5rem 1rem 0.15rem #151515;
}

.reel {
    width: 100%;
    display: flex;
    flex-direction: column;
    will-change: transform;
}

@keyframes spin {
    from   { transform: translateY(-50%); }
    to     { transform: translateY(-100%); }
}

@keyframes spinStop {
    from   { transform: translateY(-100%); }
    to     { transform: translateY(var(--final-offset)); }
}

.slot.spinning .reel {
    animation: spin var(--linear-duration) linear infinite;
}

.slot.stopping .reel {
    animation:
            spin     var(--linear-duration) linear,
            spinStop var(--ease-duration) ease-out var(--linear-duration) forwards;
}

.slot-section{
    display: flex;
    height: 33.33%;
    width: 100%;
    border-top: 0.1rem solid crimson;
    justify-content: center;
    align-items: center;
    img{
        position: relative;
        width: 45%;
        height: 95%;
        object-fit: contain;
    }
}

.prizes-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90dvw;
    padding: 1rem;
    background: #1B1B1B;
    font-family: serif;
    border: 0.2rem solid crimson;
}

.prizes-left {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.prizes-right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2dvh 2dvw;
    justify-items: center;
    align-items: start;
}

.prize-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1dvh;
}

.prize-title {
    color: white;
    font-weight: bold;
    font-size: 1.5dvw;
    text-align: center;
    z-index: 10;
}

.legendary-title {
    color: #D3B159;
    font-size: 3dvw;
}

.legendary-value {
    width: 15dvw;
    height: 12.5dvh;
    background: #F0CE77;
    border-radius: 1dvh;
    box-shadow: 0 0 2dvh 0.5dvh #e9d175;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B79642;
    font-weight: bold;
    font-size: 5vw;
    padding: 1dvh 2dvw;
    text-align: center;
}

.prize-box {
    width: 10dvw;
    height: 6.25dvh;
    background: #222;
    color: white;
    border: 0.25rem solid #DC143C;
    border-radius: 0.7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2dvw;
    font-weight: bold;
    box-shadow: 0 0 2rem 0.2rem #F24769;
    position: relative;
    z-index: 1;
}

.buttons {
    width: 50dvw;
    height: 25dvh;
    margin-top: 2vh;
    background-color: #1B1B1B;
    border: 0.2rem solid crimson    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2dvh;
    box-sizing: border-box;
}

.stake-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.stake-text {
    font-size: 3dvh;
    font-weight: bold;
}

.stake-text input {
    width: 5dvw;
    height: 5dvh;
    text-align: center;
    border: 0.3dvh solid #D1345B;
    background: transparent;
    color: white;
    margin: 0 0.5dvw;
    font-size: 1.5dvw;
}


.min-stake-text {
    color: gray;
    font-size: 2dvh;
    margin-top: 0.5dvh;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2dvw;
    box-sizing: border-box;
}

.side-button {
    width: 8dvw;
    height: 5dvh;
    background-color: #D1345B;
    font-size: 2.5dvh;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border: #D1345B 0.2rem solid;
    border-radius: 5rem;
    margin: 0 2dvw;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.spin-button {
    width: 20dvw;
    height: 10dvh;
    background-color: #D1345B;
    font-size: 4dvh;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border: #D1345B 0.2rem solid;
    border-radius: 3rem;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.side-button:hover,
.spin-button:hover {
    box-shadow: 0 0 20px 3px #F24769;
}

.side-button:active,
.spin-button:active {
    box-shadow: 0 0 30px 5px #F24769;
    transform: scale(0.98);
}

.glow {
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0.5rem #F24769;
    }
    to {
        box-shadow: 0 0 1rem #F24769;
    }
}