.About-us{
    width: 80dvw;
    margin: 0 auto;

    padding-block: 5vh;
    padding-inline: 10dvw;
    align-items: center;
    font-size: 1.5rem;
    h1{
        font-family: "Crimson Text", sans-serif;
        text-align: center;
    }
    b{
        color: #F24769;
    }
    p:last-child{
      margin-bottom: 0;
    }
}